.S3-title {
  font-family: "Potta One", cursive;
  font-size: 60px;
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: lighter;
}
.S3-not-test-message{
  font-family: "Potta One", cursive;
  font-size: 40px;
  margin-top: 5%;
}

.S3_container {
  /* margin: px; */
  min-width: 768px;
  padding: 5px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.S3_button_container {
  width: 100%;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
}

#S3-result-check-button {
  width: 300px;
}
#S3-back-button {
  width: 150px;
  left: 10px;
}

.S3-button {
  margin-left: 3%;

  position: relative;
  margin: 20px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: rgb(216, 235, 246);
  border-radius: 10px;
  color: rgb(17, 16, 16);
  font-weight: 300;
  font-size: 20px;
  /* font-family: inherit; */
  font-family: "Potta One", cursive;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.S3-button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.S3-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.S3-button::before,
.S3-button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: -10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(154, 114, 114);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.S3-button:hover::before,
.S3-button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.S3-button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.S3-button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
