.testTitle {
  position: fixed;
  width: 100%;
  margin: 0px;
  top: 0px;
  padding-right: auto;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 12;
}

.table1 {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  margin-right: auto;
  border-bottom: 2px solid gray;
  z-index: 11;
}

.questionTitle {
  font-size: 16pt;
  color: blue;
  padding-left: 50px;
  padding-top: 20px;
}

.studentsID {
  font-size: 20pt;
  padding-left: 50px;
  padding-top: 80px;
  vertical-align: top;
  z-index: 13;
}

#canvasName {
  margin-top: 45px;
  position: relative;
  padding: 0px;
  /* border: 1px solid black; */
  outline: 2px solid gray;
  outline-offset: -40px;
}

.canvasAns {
  position: relative;
  padding: 0px;
  /* border: 1px solid black; */
  outline: 2px solid gray;
  outline-offset: -40px;
  z-index: 10;
}

.canvasButtonDel {
  padding: 0px;
  margin: 0px;
  min-width: 70px;
  padding-top: 60px;
  vertical-align: top;
}

.canvasButtonDel img {
  width: 35px;
  height: auto;
}

.questionsTable {
  text-align: center;
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 200px;
  width: auto;
  background-color: white;
}

.submitTest {
  position: fixed;
  top: 15px;
  right: 50px;
  z-index: 12;
}

.submitTest input {
  font-size: 20pt;
  margin-left: 50px;
  padding: 5px 20px 5px 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  z-index: 12;
}

.canvasTd {
  position: relative;
}

.bkImg {
  position: absolute;
  top: 41px;
  left: 41px;
  width: 380px;
  height: 80px;
}

.testTimer {
  text-align: right;
  font-size: 48px;
  font-family: monospace;
}

.testTimer p {
  text-align: left;
  padding-left: 50px;
  font-size: 18pt;
  margin-top: 20px;
  margin-bottom: 0px;
}
