.S2-div {
  min-width: 825px;
}

.testTitle {
  position: fixed;
  font-family: 'Potta One', cursive;
  font-size: 60px;
  width: 100%;
  margin: 0px;
  top: 0px;
  padding-right: auto;
  padding-top: 20px;
  padding-left: 200px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 12;
  border-bottom: 3px gray solid;
  background: rgb(130, 176, 189);
  background: linear-gradient(
    90deg,
    rgba(130, 176, 189, 1) 13%,
    rgba(186, 216, 222, 1) 75%
  );
}

.table1 {
  position: fixed;
  top: 115px;
  background-color: white;
  width: 100%;
  margin-right: auto;
  border-bottom: 3px gray solid;
  z-index: 11;
}

.questionTitle {
  font-size: 16pt;
  color: blue;
  text-align: center;
  padding-top: 20px;
}

/* .studentsID {
  font-size: 20pt;
  padding-left: 50px;
  padding-top: 80px;
  vertical-align: top;
  z-index: 13;
} */

#canvasName {
  margin-top: 45px;
  position: relative;
  padding: 0px;
  /* border: 1px solid black; */
  outline: 2px solid gray;
  outline-offset: -40px;
}

.canvasAns {
  position: relative;
  padding: 0px;
  /* border: 1px solid black; */
  outline: 2px solid gray;
  outline-offset: -40px;
  z-index: 10;
}

.canvasButtonDel {
  padding: 0px;
  margin: 0px;
  min-width: 70px;
  padding-top: 60px;
  vertical-align: top;
}

.canvasButtonDel button {
  cursor: pointer;
}

.canvasButtonDel img {
  width: 35px;
  height: auto;
}

.questionsTable {
  text-align: center;
  margin-left: calc((100% - 825px) / 2);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 200px;
  background-color: white;
}

.submitTest {
  position: fixed;
  top: 35px;
  right: 225px;
  z-index: 12;
}

.submitTest input {
  font-size: 24pt;
  font-family: 'Potta One', cursive;
  margin-left: 50px;
  padding: 5px 30px 5px 30px;
  background-color: rgb(216, 235, 246);
  color: rgb(17, 16, 16);
  border-radius: 10px;
  z-index: 12;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.submitTest input:hover {
  animation: sh0 0.5s ease-in-out both;
}

.canvasTd {
  position: relative;
}

.bkImg {
  position: absolute;
  top: 41px;
  left: 41px;
  width: 380px;
  height: 80px;
}

.testTimer {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0px 15px 0px 15px;
  text-align: right;
  font-size: 48px;
  font-family: monospace;
  border-radius: 20px;
  background-color: rgb(255, 239, 208);
  z-index: 12;
}

.testTimer p {
  font-family: 'Potta One', cursive;
  text-align: left;
  font-size: 20pt;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 12;
}
