.S2-div {
  min-width: 768px;
}

.testTitle {
  position: fixed;
  font-family: 'Potta One', cursive;
  font-size: 60px;
  height: 90px;
  width: 100%;
  margin: 0px;
  top: 0px;
  padding: 20px 0px 20px 200px;
  background-color: white;
  z-index: 12;
  border-bottom: 3px gray solid;
  background: rgb(130, 176, 189);
  background: linear-gradient(90deg,
      rgba(130, 176, 189, 1) 13%,
      rgba(186, 216, 222, 1) 75%);
}

.table1 {
  position: fixed;
  top: 115px;
  background-color: white;
  width: 100%;
  margin-right: auto;
  border-bottom: 3px gray solid;
  z-index: 11;
}

.questionTitle {
  font-size: 16pt;
  color: blue;
  text-align: center;
  padding-top: 20px;
}

.S2-question {
  text-align: left;
  padding-left: 10px;
}

#canvasName {
  margin-top: 45px;
  position: relative;
  padding: 0px;
  /* border: 1px solid black; */
  outline: 2px solid gray;
  outline-offset: -40px;
}

.canvasAns {
  position: relative;
  padding: 0px;
  /* border: 1px solid black; */
  outline: 2px solid gray;
  outline-offset: -40px;
  z-index: 10;
}

.canvasButtonDel {
  padding: 0px;
  margin: 0px;
  min-width: 70px;
  padding-top: 60px;
  vertical-align: top;
}

.canvasButtonDel button {
  cursor: pointer;
}

.canvasButtonDel img {
  width: 35px;
  height: auto;
}

.questionsTable {
  text-align: center;
  margin-left: calc((100% - 768px) / 2);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 200px;
  background-color: white;
}

.submitTest {
  position: fixed;
  top: 70px;
  right: 25px;
  z-index: 12;
  display: flex;
  justify-content: space-between;
}

.submitButton {
  position: relative;
  font-size: 20pt;
  font-family: 'Potta One', cursive;
  padding: 5px 40px 5px 40px;
  background-color: rgb(216, 235, 246);
  color: rgb(17, 16, 16);
  border-radius: 10px;
  z-index: 15;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.submitButton:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.submitButton::before,
.submitButton::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(154, 114, 114);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: 14;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.submitButton:hover::before,
.submitButton:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: 15;
}

.submitButton:hover::before {
  transform: translate3d(60%, 0, 0) scale(0.9);
  z-index: 15;
}

.submitButton:hover::after {
  transform: translate(60%, 0) scale(1.1);
  z-index: 15;
}

.canvasTd {
  position: relative;
}

.bkImg {
  position: absolute;
  top: 41px;
  left: 41px;
  width: 380px;
  height: 80px;
}

.testTimer {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0px 15px 0px 15px;
  text-align: right;
  font-size: 36px;
  font-family: monospace;
  border-radius: 20px;
  background-color: rgb(255, 239, 208);
  z-index: 12;
}

.testTimer-title {
  font-family: 'Potta One', cursive;
  text-align: left;
  vertical-align: text-top;
  font-size: 16pt;
  padding-right: 10px;
  z-index: 12;
}