@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.saitenkun-risu{
  margin-top: 4%;
  width: 13%;
  animation: korokoro 2.5s linear 0s 1;
  animation-iteration-count:infinite
}

@keyframes korokoro {
  0%   { transform: translate(0%, 0%); }
  5%   { transform: translate(10%, 0%) rotate(10deg); }
  25%  { transform: translate(15%, 0%) rotate(15deg); }
  30%  { transform: translate(-10%, 0%) rotate(-10deg); }
  35%  { transform: translate(-15%, 0%) rotate(-10deg); }
  45%  { transform: translate(10%, 0%) rotate(5deg); }
  50%  { transform: translate(15%, 0%) rotate(10deg); }
  60%  { transform: translate(-5%, 0%) rotate(-5deg); }
  65%  { transform: translate(-7%, 0%) rotate(-7deg); }
  75%  { transform: translate(0%, 0%) rotate(0deg); }
  100% { transform: translate(0%, 0%) rotate(0deg); }
}
.saitenkun-logo{
  margin-top: 3%;
  width: 70%;
  /* font-family: 'Potta One', cursive;
  text-align: center;
  font-size: 95px; */
}

.logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.L1-login-button-container{
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.form-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}
 


.form-container form {
  background-color: #f8ecec;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  position: relative
}


.L1-form-close-button{
position: absolute !important;
right: 1%;
top: 1%;
}


.login-form-name {
  text-align: center;
  font-family: 'Potta One', cursive;
}

.ui-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-form-input-userId {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
  font-size:x-large;
}
.login-form-input-password-container {
    border: 1px solid grey;
    border-radius: 4px;
    font-size:x-large;
    position:relative;
    background-color: white;
    display: flex;
}

.login-form-input-password{
    border: none;
    font-size:x-large;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    
}
.password-visual {
    left: auto;
    position:absolute;
    bottom: 30%;
    left:90%
  }

.form-field label {
font-size: 15px;
font-weight: 600;
margin-bottom: 3px;
  }

.login-button {
    background-color: #3182c8;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size:20px;
    transition: all 0.4s;
    font-family: 'Potta One', cursive;
}




.login-button:hover{
    background-color: #24669f;
}

.login-error-msg {
    color: red;
    margin: 0;
    align-self: flex-start;
}
.login-status {
    color: black;
    margin-top: 15px;
    font-family: 'Potta One', cursive;
}


.L1-select-button {
  width: 130px;
  position: relative;
  margin: 20px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: rgb(216, 235, 246);
  border-radius: 10px;
  color: rgb(17, 16, 16);
  font-weight: 300;
  font-size: 20px;
  /* font-family: inherit; */
  font-family: 'Potta One', cursive;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.L1-select-button:hover {
  animation: sh0 0.5s ease-in-out both;
}

#L1-selected-button{
  animation: sh0 0.5s ease-in-out both;
  animation-iteration-count:infinite;
  background-color: rgb(238, 170, 208);
}
@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.L1-select-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.L1-select-button::before,
.L1-select-button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(154, 114, 114);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.L1-select-button:hover::before,
.L1-select-button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.L1-select-button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.L1-select-button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.L1-select-button-container{
  display: flex;
  justify-content:space-around
}