.form-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container form {
  background-color: #f8ecec;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.login-form-name {
  text-align: center;
}

.ui-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-form-input-userId {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
  font-size:x-large;
}
.login-form-input-password-container {
    border: 1px solid grey;
    border-radius: 4px;
    font-size:x-large;
    position:relative;
    background-color: white;
    display: flex;
}

.login-form-input-password{
    border: none;
    font-size:x-large;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    
}
.password-visual {
    left: auto;
    position:absolute;
    bottom: 30%;
    left:90%
  }

.form-field label {
font-size: 15px;
font-weight: 600;
margin-bottom: 3px;
  }

.login-button {
    background-color: #3182c8;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size:15px;
    transition: all 0.4s;
}




.login-button:hover{
    background-color: #24669f;
}

.login-error-msg {
    color: red;
    margin: 0;
    align-self: flex-start;
}
.login-status {
    color: black;
    margin-top: 15px;

}